#entry:selected {
  background-color: #4c566a;
  color: #2e3440;
}

#input {
  border: none;
  border-radius: 0px;
}

#text {
  /* Give the text some breathing room from the icons */
  margin-left: 0.5em;
}

window {
  background-color: #3b4252;
  border: 2px solid #2e3440;
  border-radius: 5px;
  color: #eceff4;
  opacity: 0.9;
}
